{% extends 'info/main.html' %}
{% load static %}

{% block content %}
 <section class="shadow-lg mt-4 p-4">
        <h1 class="py-2 fs-4 text-center">ABOUT US</h1>
            <p class="fs-4 col-lg-12 text-center">
                Jetrey is a platform where we bring updates on Jobs, tech and other related information.
                Our plans is keep update at the comfort of your home and other relevant information.
                world have gone beyond doing things manually and making life difficult. We also want to join hands with
                other tech companies to bring make life easier to the future generations.
            </p>

    </section>

{% endblock content %}