<!--{% extends 'info/main.html' %}-->
<!--{% load static %}-->

<!--{% block content %}-->

<!--<div class="container py-5">-->
<!--    <div class="row">-->
<!--            <div class="col-md-8 mt-3 left">-->
<!--                 <div class="card mb-5 card shadow" style="width: 60rem;">-->
<!--&lt;!&ndash;                    <img src="{{x.image.url}}" class="card-img-top" alt="">&ndash;&gt;-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">{% block title %} {{ object.title }} {% endblock title %}</h5>-->
<!--                        <p class="card-text fs-4">{{ post.author }}  {{ post.created_on }} </p>-->
<!--                        <p class="card-text fs-4">{{ object.description }}</p>-->

<!--                    </div>-->
<!--                </div>-->


<!--    </div>-->
<!-- {% block sidebar %} {% include 'info/sidebar.html' %} {% endblock sidebar %}-->

<!--</div>-->


<!--</div>-->
<!--{% endblock content %}-->