{% extends 'info/main.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4 offset-md-4">
            {% for message in messages %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% endfor %}

                <div class="card-body">
                    <h3 class="text-center">Newsletter</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label>Email:</label>
                        <input class="form-control form-control-lg fs-4 shadow-lg" type="text" name="title"  placeholder="Enter Title">
                         <label>Message:</label>
                        <textarea type="text"  name="message" rows="5" class="form-control form-control-lg fs-4 shadow-lg mb-3"></textarea>
                        <button type="submit" class="btn btn-dark">Send Message</button>
                    </form>
                </div>



        </div>

    </div>

</div>
{% endblock %}