{% extends 'info/main.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4 offset-md-4">
            {% for message in messages %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% endfor %}
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="text-center">Newsletter</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                         <button type="submit" class="btn btn-dark">Subscribe</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}