
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h4 class="card-header">Python Language</h4>
        <div class="card-body">
             <h3>Django</h3>
            <p class="card-text">The world is global village where most things are done electronically, is the opportunity for
            you to engage your with tech skills, nobody is too young or old to great! join our community and know more about technology</p>
            <a href="{% url 'signup' %}" class="fs-4 btn btn-danger">Sign Up</a>

        </div>

    </div>
    <div class="card my-4">
        <div class="card-body">
             <h3 class="card-header">Jobs</h3>
            <p class="card-text">The world is global village where most things are done electronically, is the opportunity for
            you to engage your with tech skills, nobody is too young or old to great! join our community and know more about technology</p>

        </div>

    </div>


</div>





